@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --dropdown-shadow: hsl(0, 0%, 8%, 0.15);
}

html {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

body {
    font-family: 'Epilogue', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--medium-gray);
}

button {
    padding: 12px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

path {
    transform-origin: 50% 50%;
}


/* nav bar style */

.mobile-nav{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: var(--almost-white);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-nav>div{
    display: flex;
    justify-content: end;
}

.mobile-action{
   align-items: center;
}

.mobile-nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-nested ul{
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 70px;
    position: relative;
}

li {
    list-style-type: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 6;
}

.nav-link>li {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.nav-link,
.login {
    display: flex;
    align-items: center;
}

.nested {
    position: relative;
}


.nav-link:hover,
.action a:hover,
.nested:hover .drop>span {
    cursor: pointer;
    color: var(--almost-black);
}

.nested:hover .fill,
.drop-down:hover .fill {
    stroke: var(--almost-black);
    transform: rotateX(180deg);
}


.nested:hover .drop-down {
    display: flex;
    /* transform: ; */
}


.logo {
    flex: 1;

}

.action {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 40px;
    font-weight: 500;
}

.action li:hover {
    color: var(--almost-black);
}


nav button {
    background-color: var(--almost-white);
    border: 2px solid var(--medium-gray);
    color: var(--medium-gray);

}

nav button:hover {
    border: 2px solid var(--almost-black);
    color: var(--almost-black);
}


.drop-down {
    position: absolute;
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px var(--dropdown-shadow);
    border-radius: 12px;
    display: none;
}


.more li {
    /* border: 2px solid red; */
    min-width: 82px;
}

.features {
    left: -70%;
}

.more,
.features {
    top: 23px;
}


.features a {
    display: flex;
    gap: 12px;
}

.nested span {
    color: var(--medium-gray);
}

.nested div {
    display: flex;
    align-items: center;
    gap: 5px;
}



/* end navbar style */



/* main styling */

main {
    padding: 0 15%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* justify-content: center; */
    /* gap: 50px; */
    /* gap: 70px; */
}

main h1 {
    font-size: 68px;
    font-weight: bolder;
    line-height: .8em;
}

main img {
    /* height: auto; */
    height: 75vh;
    width: 100%;

    /* min-width: 400px; */
    /* object-fit: cover; */
}

main button {
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-weight: 700;
}

main button:hover {
    border: 2px solid var(--almost-black);
    color: var(--almost-black);
    background-color: var(--almost-white);

}

section.details {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 100px;
}

.sponsors {
    display: flex;
    gap: 30px;
}

.promotion {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

p {
    max-width: 450px;
    line-height: 25px;
}

/* end of main styling */
footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}



/* media queries */



/* @media screen and (min-width:375px) {
    main{
        padding: 0;
        flex-direction: column-reverse;
        
    }
    .details{
        align-items: center;
        text-align: center;
    }
    main h1{
        max-width: 100%;
    }
    
} */


