@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --dropdown-shadow: hsl(0, 0%, 8%,0.15);
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Epilogue', sans-serif;
}

a{
    text-decoration: none;
    color: var(--medium-gray);
}

button{
    padding: 12px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Epilogue',sans-serif;
    font-weight: 500;
    font-size: 16px;
}


/* nav bar style */

nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding:  25px 70px;
}

nav li{
    list-style-type: none;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 6;
}

.nav-link>li{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.nav-link,.login{
    display: flex;
    align-items: center;
}

.nested{
    position: relative;
}

.nav-link:hover{
    color: var(--almost-black);
}

.nav-link:hover .fill{
    stroke: var(--almost-black);
}

.nested:hover .drop-down{
    display: flex;
}

.logo{
    flex: 1;

}

.action{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 40px;
    font-weight: 500;
}
.action li:hover{
    color: var(--almost-black);
}


nav button{
    background-color: var(--almost-white);
    border: 2px solid var(--medium-gray);
    color: var(--medium-gray);

}

nav button:hover{
    border: 2px solid var(--almost-black);
    color: var(--almost-black);
}


.drop-down{
    position: absolute;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0px 0px 5px var(--dropdown-shadow);
    border-radius: 12px;
    display: none;
}

.features{
    left: -70%;
}

.more,.features{
    top: 30px;
}

.drop-down li{
    display: flex;
    gap: 12px;
    min-width: 80px;
}


.nested div{
    display: flex;
    align-items: center;
    gap: 5px;
}



/* end navbar style */



/* main styling */

main{
    padding: 0 16% ;
    padding-right: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* gap: 70px; */
}

main h1{
    font-size: 68px;
    font-weight: bolder;
}

main img{
    /* height: auto; */
    height: 80vh;
    width: 100%;

    /* min-width: 400px; */
    object-fit: cover;
}

main button{
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-weight: 700;
}

main button:hover{
    border: 2px solid var(--almost-black);
    color: var(--almost-black);
    background-color: var(--almost-white);
    
}

section.details{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 100px;
}
.sponsors{
    display: flex;
    gap: 30px;
}

.promotion{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

p{
    max-width: 400px;
    line-height: 25px;
}

/* end of main styling */
footer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
